<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/jsheed_sa/" target="_blank">@jsheed_sa</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/jeromeza/" target="_blank">@jeromeza</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/jeromesheed" target="_blank">linkedin.com/in/jeromesheed</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://jerome.co.za/" target="_blank">jerome.co.za</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:jerome@sheed.com" target="_blank">jerome@sheed.com</a></p>
